<% provide(:title, "Home") %>


<% if current_user %>

<div>
    <%= link_to "inflows", inflows_path %>
    <%= link_to "Cashflows", cashflows_path %>
    <%= link_to "Bankaccounts", bankaccounts_path %>
    <%= link_to "People", people_path %>
    <%= link_to "Outflows", outflows_path %>
    <%= link_to "Outflowtypes", outflowtypes_path %>
    <%= link_to "inflowtypes", inflowtypes_path %>

  </div>

<% else %>

  <div class="jumbotron" style="background-color: #2a4b51">
    <div class="breadcrumb" style="background-color: khaki">
      <h2>CF Analyser</h2>
    </div>
  <div class="jumbotron">
      <%= @visitor_view_desc %>
  </div>

  <div class="breadcrumb" style="background-color: khaki; color: #730E15">
      <%= @notice_of_access_request %>
  </div>


<% end %>








</div>
