<% provide(:title, "Home") %>

<% if current_user %>

  <div class="jumbotron" style="background-color: #2a4b51">
    <div class="jumbotron">

      <div>
        <% if @inflow_fu_count == 0 && @outflow_fu_count == 0 %>
          <div class="breadcrumb" style="background-color: darkgreen;color: white">
            <h5>Great - <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up!</h5>
          </div>
        <% else %>
          <div class="breadcrumb"style="background-color: darkred;color: white">
            <h5>Warning - <%= @inflow_fu_count %> income record(s) and <%= @outflow_fu_count %> expense record(s) to follow-up! </h5>
          </div>
        <% end %>
      </div>

      <div class="breadcrumb" style="background-color: khaki">
        Cash-Flow Module
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Table</th>
          <th>Description</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= link_to "Cash Inflows", inflows_path %></td>
          <td> <%= @inflows_desc %></td>
        </tr>
        <tr>
          <td><%= link_to "Cash Outflows", outflows_path %></td>
          <td><%= @outflows_desc %></td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="jumbotron">
      <div class="breadcrumb" style="background-color: khaki">
        Related Cash-flows
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= link_to "Cashflows", cashflows_path %></td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

<% else %>

  <div class="jumbotron" style="background-color: #2a4b51">
    <div class="breadcrumb" style="background-color: khaki">
      <h2>CF Analyser</h2>
    </div>
  <div class="jumbotron">
      <%= @visitor_view_desc %>
  </div>

  <div class="breadcrumb" style="background-color: khaki; color: #730E15">
      <%= @notice_of_access_request %>
  </div>

<% end %>

</div>
