<%= form_with(model: bankaccount, local: true) do |form| %>
  <% if bankaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bankaccount.errors.count, "error") %> prohibited this bankaccount from being saved:</h2>

      <ul>
      <% bankaccount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :financialinstitution_id %>
    <%= form.number_field :financialinstitution_id %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number %>
  </div>

  <div class="field">
    <%= form.label :sort_code %>
    <%= form.text_field :sort_code %>
  </div>

  <div class="field">
    <%= form.label :iban %>
    <%= form.text_field :iban %>
  </div>

  <div class="field">
    <%= form.label :bic %>
    <%= form.text_field :bic %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :account_code %>
    <%= form.text_field :account_code %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_field :account_name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
