
<%= simple_form_for(@outflow) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="jumbotron"style="background-color: lightgoldenrodyellow">


    <div class="row">
      <div class="col-sm-4">
        <div class="control-group">
          <div class ="controls">
            <%= f.association :outflowtype, collection: Outflowtype.order(:name),label_method: :name,
                              prompt: "Choose a Type", label:"Outflow_Type" %>
          </div>
        </div>
        <br>

        <div class="control-group">
          <div class ="controls">
            <%= f.association :person, collection: Person.order(:fullname),label_method: :fullname,
                              prompt: "Choose an Owner", label:"Owner" %>
          </div>
        </div>
        <br>

        <div class="control-group">
          <div class ="controls">
            <%= f.association :bankaccount, collection: Bankaccount.order(:account_code),label_method: :account_code,
                              prompt: "Choose an account", label:"Bank Account" %>
          </div>
        </div>
        <br>

        <div class="control-group">
          <div class ="controls">
            <%= f.association :cashflow, collection: Cashflow.order(:name),label_method: :name,
                              prompt: "Choose an Cashflow", label:"Cash-Flow" %>
          </div>
        </div>
        <br>


      </div>
      <div class="col-sm-4">
        <%= f.input :year,:readonly => true %>
        <%= f.input :month ,:readonly => true%>
        <%= f.input :rationale %>
      </div>
      <div class="col-sm-4">
        <%= f.input :date_posted %>
        <%= f.input :details,:readonly => true %>
        <%= f.input :amount ,:readonly => true%>
        <%= f.input :follow_up %>
      </div>
    </div>

  </div>

  <br>


  <div class="form-actions">
    <%= f.button :submit,"Save" %>
  </div>
<% end %>
