<% provide(:title, "Edit") %>

<div class="breadcrumb"style="background-color: khaki;color: #730E15">
  <h3>Editing: TN: <%= @outflow.id %> | <%= @outflow.details %> | €<%= @outflow.amount %> | <%= @outflow.cashflow.name %>  </h3>
</div>

<%= render 'form', outflow: @outflow %>
<br>

<div class="breadcrumb" style="background-color: khaki">
  <%= link_to 'View', @outflow %> |
  <%= link_to 'Back', outflows_path %>
</div>

