<% provide(:title, "Edit") %>

<div class="breadcrumb"style="background-color: khaki;color: #730E15">
  <h3>Editing: <%= @outflow.details %> - Ref#: <%= @outflow.id %></h3>
</div>

<%= render 'form', outflow: @outflow %>
<br>

<div class="breadcrumb" style="background-color: khaki">
  <%= link_to 'View', @outflow %> |
  <%= link_to 'Back', outflows_path %>
</div>

