<% provide(:title, "CF Outflow") %>
<p id="notice"><%= notice %></p>

<div class="breadcrumb" style="background-color: khaki;color: #730E15">
  <h2> Ref#: <%= @outflow.id %> | <%= @outflow.details %> | €<%= @outflow.amount %> | <%= @outflow.cashflow.name %> </h2>
</div>


<div class="jumbotron" style="background-color: aliceblue;color: navy">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>Year:</td>
      <td><%= @outflow.year %> </td>
    </tr>
    <tr>
      <td>Month:</td>
      <td>  <%= @outflow.month %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= @outflow.date_posted.strftime("%d %b. %Y") %></td>
    </tr>
    <tr>
      <td>Details:</td>
      <td>  <%= @outflow.details %></td>
    </tr>
    <tr>
      <td>Amount:</td>
      <td><%= @outflow.amount %></td>
    </tr>
    <tr>
      <td>Cashflow:</td>
      <td>  <%= @outflow.cashflow.name %> </td>
    </tr>
    <tr>
      <td>Person:</td>
      <td> <%= @outflow.person.fullname %></td>
    </tr>
    <tr>
      <td data-toggle= "tooltip"  data-placement="top"
      title="Expense Type:<%= @outflow.outflowtype.description %> | Debited from:<%= @outflow.bankaccount.account_code %>">Outflowtype:</td>
      <td><%= @outflow.outflowtype.name %></td>
    </tr>
    <tr>
      <td>Rationale:</td>
      <td><%= @outflow.rationale %></td>
    </tr>
    <tr>
      <td data-toggle= "tooltip"  data-placement="top"
      title="Bank Account:<%= @outflow.bankaccount.account_name %>">Bank Account:</td>
      <td><%= @outflow.bankaccount.account_code %> </td>
    </tr>
    <tr>
      <td>Follow up:</td>
      <td><%= @outflow.follow_up.humanize %> </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="breadcrumb"style="background-color: khaki">
  <%= link_to 'Edit', edit_outflow_path(@outflow) %> |
  <%= link_to 'Back', outflows_path %>
</div>

