<% provide(:title, "Edit") %>
<div class="breadcrumb"style="background-color: khaki;color: #730E15">
  <h3>Editing: <%= @inflow.details %> - Ref#: <%= @inflow.id %></h3>
</div>


<%= render 'form', inflow: @inflow %>
<br>
<div class="breadcrumb" style="background-color: khaki">
  <%= link_to 'View', @inflow %> |
  <%= link_to 'Back', inflows_path %>
</div>

