<% provide(:title, "CF Inflows") %>

<div>
  <p id="notice"><%= notice %></p>
</div>

<div>
  <% if @inflow_fu_count == 0 && @outflow_fu_count == 0 %>
    <div class="breadcrumb" style="background-color: darkgreen;color: white">
      <h5>Great - <%= @inflow_fu_count %> income record(s) to follow-up!</h5>
    </div>
  <% else %>
    <div class="breadcrumb"style="background-color: darkred;color: white">
      <h5>Warning - <%= @inflow_fu_count %> income record(s) to follow-up! </h5>
    </div>
  <% end %>
</div>


<div class="breadcrumb" style="background-color: #2a4b51;color: white">
  <h2>CF In-flows</h2>
</div>

<div class="jumbotron" style="background-color: lightgoldenrodyellow;color: navy">
  <table class=" table table-hover" >
    <thead>
    <tr>
      <th>Ref</th>
      <th>Year</th>
      <th>Month</th>
      <th>Date</th>
      <th>Details</th>
      <th>Amount</th>
      <th>Inflow type</th>
      <th>Cash-flow</th>
      <th>Owner</th>
      <th>Rationale</th>
      <th>Bank Acc.</th>
      <th>Follow up</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @inflows.each do |inflow| %>
      <tr>
        <td><%= inflow.id %></td>
        <td><%= inflow.year %></td>
        <td><%= inflow.month %></td>
        <td><%= inflow.date_posted.strftime("%d %b. %Y") %></td>
        <td><%= inflow.details %></td>
        <td><%= inflow.amount %></td>
        <td><%= inflow.inflowtype.name %></td>
        <td><%= inflow.cashflow.name %></td>
        <td><%= inflow.person.fullname %></td>
        <td><%= inflow.rationale %></td>
        <td><%= inflow.bankaccount.account_code %></td>
        <% if inflow.follow_up == true %>
          <td class="alert-danger"><%= inflow.follow_up.humanize %></td>
        <% else %>
          <td class="alert-success"><%= inflow.follow_up.humanize %></td>
        <% end %>

        <td class="alert-warning"><%= link_to '', inflow, class:'fa fa-eye' %></td>
        <td class="alert-danger"><%= link_to '', edit_inflow_path(inflow), class:'fa fa-edit' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @inflows %>
  <br>

</div>

