<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CF Analyser </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <div class="shim">
      <%= render 'layouts/shim' %>
    </div>
    <div class="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="container">
      <% if current_user %>
        <%= render 'layouts/gravatar'%>
      <% else %>

      <% end %>

      <%= yield %>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
